
<ion-view style="" title="dashboard" >
     <ion-nav-bar class="bar-assertive" align-title="center"></ion-nav-bar>
    <ion-tabs style="" class="tabs-assertive tabs-icon-top {{hideTabs}}">

        <ion-tab style=""  badge-style="badge-assertive" title="Tasks" icon="ion-document-text" href="#/dashboardtask/tasks">
            <ion-nav-view name="task-tab" ></ion-nav-view>
        </ion-tab>

        <ion-tab style="" title="Billing" icon="ion-card" href="#/dashboard/billing">
            <ion-nav-view name="dash-billing" ></ion-nav-view>
        </ion-tab>

        <ion-tab style="" title="More" icon="ion-ios-star" href="#/dashboard/others">
            <ion-nav-view name="dash-others" ></ion-nav-view>
        </ion-tab>

        <ion-tab style="" title="Settings" icon="ion-ios-settings-strong" href="#/dashboard/settings">
            <ion-nav-view name="dash-settings"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
