
<ion-view style="" title="Edit Tasks" class="tabs-assertive" animation="slide-left-right">


<ion-nav-bar class="bar-assertive">

  <ion-nav-back-button>
  </ion-nav-back-button>

</ion-nav-bar>


<ion-content class="padding has-header"
ng-init="
edittask.taskname = singletaskinfo.task_name;
edittask.desc = singletaskinfo.task_description;
edittask.startdate = makeDate(singletaskinfo.task_start);
edittask.duedate = makeDate(singletaskinfo.task_due);
edittask.projectname = singletaskinfo.task_projname;
edittask.category = singletaskinfo.task_tags;
edittask.priority =singletaskinfo.task_priority;
">


<form style="" class="list" ng-submit="edittask.addTask(edittask,singletaskinfo.task_id)">
	<div class="list">

		<label class="item item-input item-stacked-label">
			<span class="input-label" >Taskname</span>
			<input type="text" placeholder="Example Task" ng-model="edittask.taskname">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Task Description</span>
			<textarea rows="4" cols="50" placeholder="Example Task description" ng-model="edittask.desc"></textarea>
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Start date</span>
			<input type="date" ng-model="edittask.startdate">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Due date</span>
			<input type="date" ng-model="edittask.duedate">
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Project
			</div>
			<select ng-model="edittask.projectname">
				<option selected>None</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Category
			</div>

			<select ng-model="edittask.category">
				 <option>Web Design and Development</option>
                    <option >Graphic Design</option>
                    <option >Content Writing</option>
                    <option >SEO</option>
                    <option >Back Office Support</option>
                    <option >Help Desk Services</option>
			</select>
		</label>

		<label class="item item-input item-select">
			<div class="input-label">
				Priority
			</div>
			<select ng-model="edittask.priority">
				<option selected>Medium</option>
				<option >High</option>
				<option>Low</option>
			</select>
		</label>
	</div>
 <button class="button button-block button-assertive" type="submit" >
                        Save Task
                    </button>
</form>
</ion-content>
</ion-view>
